<%- include("./partials/header") %>

<% //foundAllUsers, foundAllTreasures, foundAllArticles %>

<div class="container">

	<h1>Here are all users:</h1>
	<% foundAllUsers.forEach(function(user){ %>

		<div class="card border-primary text-primary">
			<h5 class="card-header"><%= user._id %></h5>
			<div class="card-body">
				<form action="/backstage/user/<%= user._id %>" method="post">
					<h3 class="form-inline">username: <%= user.username %></h3>
					<h3 class="form-inline">password: <%= user.password %>(this would be salt and hash)</h3>
					<h3 class="form-inline">nicename: <%= user.nickname %><input type="text" class="form-control" name="user[nickname]"></h3>
					<h3 class="form-inline">age: <%= user.age %><input type="text" class="form-control" name="user[age]"></h3>
					<h3 class="form-inline">money: <%= user.cash %><input type="text" class="form-control" name="user[cash]"></h3>
					<h3 class="form-inline">location: <%= user.location %><input type="text" class="form-control" name="user[location]"></h3>
					
					<h3>shoppinglist:</h3>
					<% user.shoppinglist.forEach(function(el){ %>
						<h6>id:<%= el.id %>, qty:<%= el.qty %></h6>
					<% });%>
				
					<h3>deallog:</h3>
					<% user.deallog.forEach(function(el){ %>
						<h6>id:<%= el._id %></h6>
					<% });%>
				
					<h3>treasures:</h3>
					<% user.treasures.forEach(function(el){ %>
						<h6>id:<%= el.id %>, qty:<%= el.qty %></h6>
					<% });%>
					<button type="submit" class="btn btn-warning ">UPDATE!</button>
				</form>
			</div>
		</div>
	<% }); %>

	<hr>

	<% foundAllTreasures.forEach(function(treasure){ %>
		<div class="card border-success text-success">
			<h5 class="card-header"><%= treasure._id %></h5>
			<div class="card-body">
				<form action="/backstage/treasure/<%= treasure._id %>" method="post">
					<h3 class="form-inline">id: <%= treasure.id %><input type="text" class="form-control" name="treasure[id]"></h3>
					<h3 class="form-inline">name: <%= treasure.name %><input type="text" class="form-control" name="treasure[name]"></h3>
					<h3 class="form-inline"><img src="<%= treasure.image %>"><input type="text" class="form-control" name="treasure[image]"></h3>
					<h3 class="form-inline">desc: <%= treasure.description %><input type="text" class="form-control" name="treasure[description]"></h3>
					<h3 class="form-inline">price: <%= treasure.price %><input type="number" class="form-control" name="treasure[price]"></h3>
					<h3 class="form-inline">stocks: <%= treasure.stocks %><input type="number" class="form-control" name="treasure[stocks]"></h3>
					<button type="submit" class="btn btn-warning ">UPDATE!</button>
				</form>
			</div>
		</div>
	<% }); %>

	<hr>

	<% foundAllArticles.forEach(function(article){ %>
		<div class="card border-info text-info">
			<h5 class="card-header"><%= article._id %></h5>
			<div class="card-body">
				<form action="/backstage/article/<%= article._id %>" method="post">

					<h3 class="form-inline">title: <%= article.title %><input type="text" class="form-control" name="article[title]"></h3>
					<h3 class="form-inline">description: <%= article.description %><input type="text" class="form-control" name="article[description]"></h3>
					<h3 class="form-inline">authorid: <%= article.authorid %><input type="text" class="form-control" name="article[authorid]"></h3>
					<h3 class="form-inline">created: <%= article.created %><input type="text" class="form-control" name="article[created]" placeholder="use UTC number"></h3>
					<h3 class="form-inline">isedited: <%= article.isedited %><input type="checkbox" class="form-control" name="article[isedited]"></h3>
					<h3 class="form-inline">edited: <%= article.edited %><input type="text" class="form-control" name="article[edited]" placeholder="use UTC number"></h3>
					<button type="submit" class="btn btn-warning ">UPDATE!</button>
				</form>
			</div>
		</div>
	<% }); %>

	
		
		
			
		
			

	<hr>
	<hr>
	<hr>

	
	
</div>

<%- include("./partials/footer") %>